<app-breadcrumb [title]="'Default'" [items]="['Dashboard']" [active_item]="'Default'"></app-breadcrumb>
<div class="container-fluid default-dash">
   <div class="row"> 
     <div class="col-xl-6 col-md-6 col-lg-12">
       <app-get-started></app-get-started>
     </div>
     <div class="col-xl-3 col-md-6 col-lg-6">
       <app-today-earning></app-today-earning>
     </div>
     <div class="col-xl-3 col-md-6">
      <app-weekly-chart></app-weekly-chart>
     </div>
     <div class="col-xl-4 col-md-6 dash-31">
      <app-news-and-update></app-news-and-update>
     </div>
     <div class="col-xl-4 col-md-6 dash-35">
       <app-ongoing-project></app-ongoing-project>
     </div>
     <div class="col-xl-4 col-md-6 dash-31 col-lg-12">
      <app-recent-activity></app-recent-activity>
    </div>
     <div class="col-xl-6 col-lg-12">
       <app-total-transactions></app-total-transactions>
     </div>
     <div class="col-xl-3 col-md-6 col-lg-6">
      <app-yearly-chart></app-yearly-chart>
     </div>
     <div class="col-xl-3 col-md-6 col-lg-6">
       <app-premium-access></app-premium-access>
     </div>
   </div>
 </div>