<div class="card recent-activity">
   <div class="card-header card-no-border">
     <div class="media media-dashboard">
       <div class="media-body"> 
         <h5 class="mb-0">Recent Activity</h5>
       </div>
       <div class="icon-box onhover-dropdown"> <app-feather-icon [icon]="'more-horizontal'"></app-feather-icon>
         <div class="icon-box-show onhover-show-div">
           <ul> 
             <li> <a>
                  Latest </a></li>
             <li> <a>
                  Earlist</a></li>
           </ul>
         </div>
       </div>
     </div>
   </div>
   <div class="card-body pt-0">                  
     <div class="table-responsive custom-scrollbar">        
       <table class="table table-bordernone">                          
         <tbody> 
           <tr>
             <td>                          
               <div class="media">
                 <div class="square-box me-2"><img class="img-fluid b-r-5" src="assets/images/avtar/teacher.png" alt=""></div>
                 <div class="media-body"><a href="users/users-profile">
                     <h5>Alana Brady added new event</h5></a>
                   <p class="font-primary">Sunday Cooking Class</p>
                 </div>
               </div>
             </td>
             <td><span class="badge badge-light-theme-light font-theme-light">2 hours ago   </span></td>
           </tr>
           <tr>
             <td>
               <div class="media">
                 <div class="square-box me-2"><img class="img-fluid b-r-5" src="assets/images/avtar/teenager.png" alt=""></div>
                 <div class="media-body"><a href="users/users-profile">
                     <h5>Lena Burton added new</h5></a>
                   <p>Comment on <span class="font-primary">Vegetarian food fest</span></p>
                   <div class="activity-msg"> <span class="activity-msg-box">
                        Again this was our mistake, we are truly sorry for not adhering to a strictly non animal product event.</span></div>
                 </div>
               </div>
             </td>
             <td>   <span class="badge badge-light-theme-light font-theme-light">10 jul 2022</span></td>
           </tr>
           <tr>
             <td>
               <div class="media">
                 <div class="square-box me-2"><img class="img-fluid b-r-5" src="assets/images/avtar/chinese.png" alt=""></div>
                 <div class="media-body image-swipe"><a href="users/users-profile">
                     <h5>Max Simmons attached 2</h5></a>
                   <p>photos to <span class="font-primary">Food photography Class</span></p>
                   <div class="my-gallery" itemscope="">
                     <div class="row gallery">
                       <figure class="inner-img ms-3" itemprop="associatedMedia" itemscope=""><a href="assets/images/dashboard/img-26.jpg" target="_blank" itemprop="contentUrl" data-size="600x600"><img class="img-fluid img-40" src="assets/images/dashboard/img-26.jpg" itemprop="thumbnail" alt="Image description"></a>
                         <figcaption itemprop="caption description" class="d-none">Photos 1</figcaption>
                       </figure>
                       <figure class="inner-img ms-3" itemprop="associatedMedia" itemscope=""><a href="assets/images/dashboard/image-20.jpg" target="_blank" itemprop="contentUrl" data-size="600x600"><img class="img-fluid img-40" src="assets/images/dashboard/image-20.jpg" itemprop="thumbnail" alt="Image description"></a>
                         <figcaption itemprop="caption description" class="d-none">Photos 2
                         </figcaption>
                       </figure>
                     </div>
                   </div>
                 </div>
               </div>
             </td>
             <td> <span class="badge badge-light-theme-light font-theme-light">22 jun 2022</span></td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
 </div>